.body
  background-color: green
.wrapper
  width: 980px
  margin: 0 auto
  min-height: 100%
  
.header
  height: 180px
  text-align: center
  display: block

li 
  display: inline
  list-style-type: none
  
.top-menu
  float: left
  padding: 10px
  background-color: #FFEFD5
  font: 12px/18px Arial, Tahoma, Verdana, sans-serif
  
.top-menu li
  border-right: 1px solid #458A2F
  line-height: 1  
  
.top-menu li a
  text-decoration: none
  color: #458A2F
  padding: 5px
.top-menu li a:hover
  text-decoration: underline
  
.tab-menu
  float: left
  padding: 10px
  background-color: gray
  font: 12px/18px Arial, Tahoma, Verdana, sans-serif
  
  
  
