.header
  .wrapper
    .header-logo
      %img{:src => "/assets/logo-curebit.png"}
    .header-menu
      %ul
        %li
          %a{href: "#"} Feedback
        %li
          %a{href: "#"} Settings
        %li
          %a{href: "#"} Account & billing
        %li
          %a{href: "#"} Logout