%ul.wizard
  %li
    %a.is-active{href: "#"} 
      %span.wizard-step 1 
      %span Offer placement
  %li
    %a{href: "#"} 
      %span.wizard-step 2
      %span Campaign setup
  %li
    %a{href: "#"} 
      %span.wizard-step 3
      %span Referrer rewards
  %li
    %a{href: "#"} 
      %span.wizard-step 4 
      %span Referred rewards