.header
  .wrapper
    .header-nav
      .nav-updates
        %h1 All Updates here:
      .nav-link
        %a{href: "designmodo.com/the-bricks"} designmodo.com/the-bricks
  .wrapper
    .button-is-firm
      THE BRICKS
  .wrapper
    .sidebar
      %h2 Take a break from routinеe and work on new ideas
      %h3 The Bricks is a free set of components designed to facilitate the creation of design or prototype for the future web-site. This package will help you save your time in the process of development of components, and will become an excellent basis for creating web-site from design to code. 
    .sidebar-img