= render :partial => "application/header"

.wrapper 
  =render :partial => "application/wizard"             
  .content
    .content-header
      %h1 Offer placement
    .content-holder
      .content-part
        %h2 Where would you like to show an offer at?
        %h3 You can always change it for your other campaign
        .option.is-active
          %input#offer-position{:type => "radio"} 
          %label{:for => "offer-position"} 
            Offer will be shown on the Thank you page after someone makes purchase.
        .option
          %input#page-location{:type => "radio"}
          %label{:for => "page-location"} 
            A page on my site allowing anyone to share an offer.
      .content-part
        .option-description
          %img{:src => "/assets/offer-preview.jpg"}
    .content-footer
      %a.button-is-firm{href: "#"} Proceed to next step
        
        