.container.cl 
  %a.tabs-link.is-active{href: "#"} New York
  %a.tabs-link.is-blue{href: "#"} Los Angeles
  %a.tabs-link.is-blue{href: "#"} San Francisco
      
.container.cl
  %ul.menu.cl
    %li
      %a.link-is-gray{href: "#"} Home
    %li.drop-down
      %a.link-active{href: "#"} My Projects
      // Выпадающая серая менюшка
      %ul.submenu
        %li.drop-down-1 
          %a{href: "#"} N.Design Studio
          %ul.submenu-1
            %li
              %a{href: "#"} Sub-level
            %li
              %a{href: "#"} Sub-level
            %li
              %a{href: "#"} Sub-level
        %li
          %a{href: "#"} Web Designer Wall
        %li
          %a{href: "#"} IconDock
        %li
          %a{href: "#"} N.Design Studio Best Web Gallery
        %li
          %a{href: "#"} Multi-levels
        %li
          %a{href: "#"} About
        %li
          ы%a{href: "#"} Contact us
      
.container.cl
  %h1 Menus
  .block-third
    %ul.nav.cl
      %li
        %a.is-active{href: "#"} 
          Audio
          %span 55
      %li
        %a{href: "#"} 
          Music
          %span 56
      %li
        %a{href: "#"} 
          Audio books
          %span 57
      %li
        %a{href: "#"} 
          Sound clips
          %span 58
  .block-third
    %ul.nav.cl
      %li
        %a.is-active-yellow{href: "#"} 
          Audio
          %span.is-yellow 55
      %li
        %a{href: "#"} 
          Music
          %span.is-yellow 56
      %li
        %a{href: "#"} 
          Audio books
          %span.is-yellow 57
      %li
        %a{href: "#"} 
          Sound clips
          %span.is-yellow 58

  .block-third                              
    %ul.nav.cl                               
      %li                                    
        %a.is-active-green{href: "#"}     
          Audio                              
          %span.is-green 55                 
      %li                                    
        %a{href: "#"}                        
          Music                              
          %span.is-green 56                 
      %li                                    
        %a{href: "#"}                        
          Audio books                        
          %span.is-green 57                 
      %li                                    
        %a{href: "#"}                        
          Sound clips                        
          %span.is-green 58                                                              