.wrapper
  .header
    .top
      %ul.top-menu
        %li
          %a{href: "#"} Главная
        %li
          %a{href: "#"} О банке
        %li
          %a{href: "#"} Условия и правила
        %li
          %a{href: "#"} Карьера в ПриватБанке
        %li
          %a{href: "#"} Акции
        %li
          %a{href: "#"} Проведение тендеров
    %img{:src => "logo‑privatbank.jpg"}
    %ul.tab-menu
      %li
        %a{href: "#"} Частным лицам
      %li
        %a{href: "#"} Бизнесу
