.wrap
  .header
    .top
      %ul.top-menu
        %li
          %a{href: "#"} Главная
        %li
          %a{href: "#"} О банке
        %li
          %a{href: "#"} Условия и правила
        %li
          %a{href: "#"} Карьера в ПриватБанке
        %li
          %a{href: "#"} Акции
        %li
          %a{href: "#"} Проведение тендеров
    .menu-img
      .menu-img-left
        %img{:src => "/assets/rails.png"}
      .menu-img-right
        %form#top-search-form.search{:action => "/search/", :autocomplete => "off", :method => "post"}
          %input#search_text.ac_input{:autocomplete => "off", :name => "search", :placeholder => "Поиск", :type => "text"}
        %img.img-right{:src => "/assets/rails.png"}
    %ul.tab-menu
      %li
        %a.is-active{href: "#"} Частным лицам
      %li
        %a{href: "#"} Бизнесу
    %ul.main-menu
      %li
        %a{href: "#"} Депозиты
      %li
        %a{href: "#"} Кредиты
      %li
        %a{href: "#"} Платежные карты
      %li
        %a{href: "#"} Переводы
      %li
        %a{href: "#"} Удаленный банкинг
      %li
        %a{href: "#"} Все услуги
      %li
        %a{href: "#"} Отделения и банкоматы
  .main-container
    .sidebar
      .sidecenter-box
        .center-inside
          %h1 Быстро оплатить
          %ul
            %li
              %a{href: "#"} Пополнение телефона
              %a.bottom-link{href: "#"} Все операторы Украины
            %li
              %a{href: "#"} Коммунальные платежки
              %a.bottom-link{href: "#"} Оплата счетов
            %li
              %a{href: "#"} Интеренет
              %a.bottom-link{href: "#"} Услуги провайдеров
            %li
              %a{href: "#"} Городской телефон
              %a.bottom-link{href: "#"} Оплата счетов
            %li
              %a{href: "#"} Skype
              %a.bottom-link-none{href: "#"} Ваучеры,свободное пополнение
      .sidemiddle-box
        .middle-inside
          %h2 Поиск отделений, банкоматов и терминалов самообслуживания
          .input-map
            %form#top-search-form.search{:action => "/search/", :autocomplete => "off", :method => "post"}
              %input#search_text.ac_input{:autocomplete => "off", :name => "search", :placeholder => "Поиск", :type => "text"}
            %span.selectBox-label{:style => "width: 202.18181824684143px;"} Украина
            %span.selectBox-label{:style => "width: 202.18181824684143px;"} Выберите регион
            %span.selectBox-label{:style => "width: 202.18181824684143px;"} Выберите город

